
@import url('https://fonts.googleapis.com/css?family=Unbounded');


* {
    margin: 0;
    font-family: Unbounded;
}


@media screen and (min-width: 1000px) {
    .back {
        letter-spacing: 0.1em;
        background-color: #0f4c81;
        position: absolute;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .avatar {
        width: 10%;
        height: 90%;
        /* border: 1px solid black; */
    }
    .greeting {
        /* max-width: 75%; */
        /* height: 90%; */
        color: white;
    }
    #greet {
        height: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .container {
        color: #e5e5e5;
        height: 8.52rem;
        font-size: 4.26rem;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* border: 1px solid black; */
    }
    .text-animation {
        height: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 10%;
        /* border: 1px solid black; */

    }
    .first-text, .second-text{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
        position: relative;
        text-shadow: 0 0 7px rgba(0,0,0,.0.5), 0 0 3px rgba(0,0,0,.0.5);
    }
    .first-text {
        background-color:#56a5bf;
        height: 100%;
        width: 100%;
    }
    .second-text {
        background-color: #7546D7;
        height: 100%;
        width: 100%;

    }
    .text-animation > div {
        -webkit-animation: text-animation 5s infinite;
                animation: text-animation 5s infinite;
    }
    @-webkit-keyframes text-animation {
        0% {top: 0;}
        20% {top: 0;}
        40% {top: -100%;}
        60% {top: -100%;}
        80% {top: 0;}
        100% {top: 0;}
    }
    @keyframes text-animation {
        0% {top: 0;}
        20% {top: 0;}
        40% {top: -100%;}
        60% {top: -100%;}
        80% {top: 0;}
        100% {top: 0;}
    }
    .start-button {
        width: 100px;
        height: 100px;
        position: absolute;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #56a5bf;
    }
    .arrow {
        position: absolute;
        left: 30px;
        pointer-events: none;
    }
    .start-button.clicked {
        width: 100%;
        height: 100%;
        border-radius: 0;
        left: 0;
        top:0;
    }
    .start-button:active .arrow {
        width: 55px;
        height: 55px;
        /* left: 28px; */
    }
}