
@import url('https://fonts.googleapis.com/css?family=Unbounded');


* {
    margin: 0;
    font-family: Unbounded;
}


@media screen and (min-width: 1000px) {
    .back {
        letter-spacing: 0.1em;
        background-color: #0f4c81;
        position: fixed;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .avatar {
        width: 10%;
        height: 90%;
        /* border: 1px solid black; */
    }
    .greeting {
        /* max-width: 75%; */
        /* height: 90%; */
        color: white;
    }
    #greet {
        height: 40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
    }
    .container {
        color: #e5e5e5;
        /* position: absolute; */
        height: 10rem;
        font-size: 5rem;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* border: 1px solid black; */
        transition: 1s ease;
    }
    @media screen and (max-width: 1171px) {
        .container {
            height: 10rem;
            font-size: 4rem
        }
    }
    .text-animation {
        height: 50%;
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 10%;
        /* border: 1px solid black; */
    }
    .first-text, .second-text{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 0;
        position: relative;
        text-shadow: 0 0 7px rgba(0,0,0,.0.5), 0 0 3px rgba(0,0,0,.0.5);
    }
    .first-text {
        /* background-color:#56a5bf; */
        /* background-color: rgba(86, 165, 191, 0.6); */
        background-color: #0f4c8197;
        height: 100%;
        width: 100%;
    }
    .second-text {
        background-color: rgba(117, 70, 215, 0.6);
        height: 100%;
        width: 100%;
    }
    .text-animation > div {
        -webkit-animation: text-animation 5s infinite;
                animation: text-animation 5s infinite;
    }
    @-webkit-keyframes text-animation {
        0% {top: 0;}
        20% {top: 0;}
        40% {top: -100%;}
        60% {top: -100%;}
        80% {top: 0;}
        100% {top: 0;}
    }
    @keyframes text-animation {
        0% {top: 0;}
        20% {top: 0;}
        40% {top: -100%;}
        60% {top: -100%;}
        80% {top: 0;}
        100% {top: 0;}
    }
    .start-button {
        width: 100px;
        height: 100px;
        position: absolute;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* background-color: #56a5bf; */
        background-color: #0f4c819c;
        /* opacity: 0.7 */
    }
    .arrow {
        position: absolute;
        left: 30px;
        pointer-events: none;
    }
    .start-button.clicked {
        /* width: 100%; */
        height: 200%;
        transition: 0.8s;
        /* border-radius: 0; */
        /* left: 0;
        top:0; */
    }
    .start-button:active .arrow {
        width: 55px;
        height: 55px;
        /* left: 28px; */
    }
    .welcome {
        display: none;
        opacity: 0;
        pointer-events: none;
        font-size: 1rem;
        color: white;
        transition: 0.8s;        
    }
    .dot {
        opacity: 0;
    }
    .main-window {
        /* width: 90%; */
        max-width: 1250px;
        height: 100%;
        position: absolute;
        bottom: 0;
        /* background-color: rgba(255,255,255,0.1); */
        border-radius: 20px;
        display: flex;
        /* box-shadow: inset 0px 2px 7px 2px rgba(0,0,0,0.5); */
        /* grid-template-rows: 1fr 9fr; */
        /* -ms-grid-row-align: center; */
        flex-direction: column;
        align-items: center;
        overflow:auto;
        /* padding-bottom: 20px; */
        opacity:0;
        pointer-events: none;
        /* border: 1px solid red; */
    }    
    .head {
        font-size: 2rem;
        height: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 600px;
        color: white;
        position: relative;
        margin-top: 20px;
    }
    p.heading:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .content {
        display: flex;
        flex-flow: row wrap;
        /* width: 100%; */
        /* background-color: #fff; */
        position: relative;
        /* justify-content: center; */
        align-content: flex-start;
        /* overflow-y:auto; */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        margin: 20px;
        padding-bottom: 20px;
        /* border-radius: 10px; */
        top: 2.5%;
        /* border: 1px solid red; */
    }
    .main-window::-webkit-scrollbar {
        display: none;
    }
    @media screen and (max-width: 1250px) {
        .content {
            justify-content: center;
        }
    }
    .project {
        width: 400px;
        height: 300px;
        background-color: rgba(135, 124, 124, 0.6);
        /* background: linear-gradient(gray, white); */
        margin: 1px;
        /* margin-top: 0; */
        /* border-radius: 10px; */
        /* border: 1px solid red; */
    }

}

/* .greeting {
    display: none;
}
.start-button {
    display: none;
} */

canvas {
    position: absolute;
}